In [16]:
import pandas as pd
import datetime as dt
sdate = dt.date(2020,1,1)
edate = dt.date(2020,1,31)
x=pd.DataFrame()
for i in pd.date_range(sdate,edate,freq='d'):
    dat=i.to_pydatetime().strftime('%d-%b-%Y')
    url='https://agmarknet.gov.in/SearchCmmMkt.aspx?Tx_Commodity=24&Tx_State=UP&Tx_District=1&Tx_Market=0&DateFrom='+str(dat)+'&DateTo='+str(dat)+'&Fr_Date='+str(dat)+'&To_Date='+str(dat)+'&Tx_Trend=2&Tx_CommodityHead=Potato&Tx_StateHead=Uttar+Pradesh&Tx_DistrictHead=Agra&Tx_MarketHead=--Select--'
    df = pd.read_html(url)
    df1=df[0]
    df2=df1[:-2]
    del df2['State Name']
    df2.index = df2.index + 1
    df2.reset_index(inplace=True)
    df2.rename(columns= {'index' : 'S_Number'},inplace=True)
    df2=df2.drop(['Group','Arrivals (Tonnes)'],axis=1)
    df2=pd.DataFrame(df2)
    x=pd.concat([x,df2])
x

,S_Number,District Name,Market Name,Variety,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date
0,1,Agra,Achnera,Desi,1300,1400,1350,01 Jan 2020
1,2,Agra,Fatehpur Sikri,Local,1400,1520,1455,01 Jan 2020
2,3,Agra,Jagnair,Desi,1250,1350,1300,01 Jan 2020
3,4,Agra,Jarar,Desi,1200,1300,1250,01 Jan 2020
4,5,Agra,Khairagarh,Desi,1200,1300,1250,01 Jan 2020
...,...,...,...,...,...,...,...,...
0,1,Agra,Achnera,Desi,1100,1180,1140,31 Jan 2020
1,2,Agra,Agra,Desi,900,1060,1000,31 Jan 2020
2,3,Agra,Jagnair,Desi,1200,1250,1225,31 Jan 2020
3,4,Agra,Jarar,Desi,760,840,800,31 Jan 2020
4,5,Agra,Khairagarh,Desi,850,950,900,31 Jan 2020